<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <h2>weedhelp</h2> <!-- Display "weedhelp" in the center -->
    </div>
    <ul class="nav-links">
      <li><a routerLink="/medical-cannabis">זני קאנביס רפואי</a></li>
      <li><a routerLink="/blog">בלוג</a></li>
      <li><a routerLink="/personal-details">אזור אישי</a></li>
      <li><a routerLink="/stores">חנויות</a></li>
      <div class="wishlist-bag">
        <i class="fa fa-heart"></i>
        <span class="wishlist-count">{{ wishlistCount }}</span>
      </div>          
    </ul>
  </div>
</nav>

