/* medical-cannabis.component.css */

.product-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }
 
  .product-card {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-card p {
    font-size: 16px;
    color: #666;
  }
  
  .product-card button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #269664;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
  }
  